.gen-card, .med-entry-card, .plan-card {
  margin: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #c8c8c8;
}

.gen-card Label, .med-entry-card Label, .plan-card Label {
  color: #969696;
  margin-bottom: 0px;
  margin-top: 0px;
}

.med-entry-card .time-enter-container {
  height: 60px;
}

.med-entry-card .time-enter-container .grommetux-select {
  width: 150px;
}

.header-bar {
  background-color: #eeeeee;
}

.route-btn-container a {
  padding-left: 10px;
}

.wait {
  opacity: 50%;
}

.grommetux-select input {
  background-color: #fff;
}

input {
  background-color: #fff;
}

td .grommetux-select {
  width: 150px;
}

td .grommetux-date-time__input {
  width: 140px;
  background-color: #fff;
}

td span.grommetux-number-input {
  display: inline-flex;
}

td span.grommetux-number-input input {
  width: 70px;
  background-color: #fff;
}

td button {
  width: 30px;
}

.home-medlist {
  width: 100%;
}

.quote-marker {
  position: absolute;
  font-size: 70pt;
  color: rgba(200, 30, 40, 0.5);
  font-style: italic;
}

.quote-marker:first-of-type {
  left: -50px;
  top: -20px;
}

.quote-marker:last-of-type {
  bottom: -70px;
  right: -20px;
}
