gen-card {
  margin: 10px;
  background-color: rgb(240,240,240);
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgb(200,200,200);
}

.med-entry-card {
  @extend gen-card;
  .time-enter-container{
    height: 60px;
    .grommetux-select{
      width: 150px;
    }
  }

}

.plan-card {
  @extend gen-card;

  }


.wait{
  opacity: 50%;
}
